* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

h1 {
    color: #1d1d1d;
}

.login {
    color: black;
    max-width: 550px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.login div {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    padding-top: 5%;
}

.login div p {
    font-size: 13px;
}

input {
    height: 40px;
    width: 70%;
    align-items: center;
    align-self: center;
    vertical-align: center;
    padding: auto;
    margin: auto;
    border: none;
    text-align: center;
    outline: 0;
    border-width: 0 0 2px;
    border-bottom: 1px solid black;
}

input:focus {
    border-color: rgb(55, 150, 233);
}

button {
    width: 70%;
    height: 50px;
    margin: auto;
    border: none;
    background-color: #1d1d1d;
    color: white;
}

a {
    color: rgb(55, 150, 233);
}

@media only screen and (max-width: 550px) {
    .login {
        min-width: 95%;
    }
}

@media only screen and (min-width: 551px) {
    .login {
        min-width: 500px;
    }
}